@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
/* https://weiyinghuang.com/static/css */
@import url('../components/motion-div.css');
@import url('../components/menubar.css');
@import url('../components/sidebar.css');
@import url('../components/hero.css');
@import url('../components/tilt-card.css');

main {
  background-color: #070707;
  margin-bottom: -1rem;
  color: #ececec;
}
footer {
  border-top: 0.1rem solid #6b6b6b;
}
footer,
footer a {
  background-color: #0b0a0a;
  color: #b6b6b6;
}

@media (max-width: 350px) {
  footer {
    font-size: 0.75rem;
  }
}

.intro-section-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-section-content {
  padding: 160px 40px;
  max-width: min(1400px, 90%);
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}
.intro-section-header {
  margin-bottom: 0px;
}
.intro-section-header p {
  color: #6b7280;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0px;
}
.intro-section-header h2 {
  color: #fff;
  margin: 10px 0px;
  font-size: 3.2rem;
  font-weight: 900;
}
.intro-section-description {
  padding: 20px 40px;
  font-size: 1.2rem;
}
.intro-section-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
  margin-top: 60px;
}

.skill-section-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-section-content {
  padding: 160px 40px 240px 40px;
  max-width: min(1400px, 90%);
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}
.skill-section-header p {
  color: #6b7280;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0px;
}
.skill-section-header h2 {
  color: #fff;
  margin: 10px 0px;
  font-size: 3.2rem;
  font-weight: 900;
}
.skill-section-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  max-width: 1400px;
  margin: 100px 0;
  padding: 0px 40px;
  padding-bottom: 80px;
  gap: 45px;
}
.skill-section-display::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 3px;
  background: linear-gradient(to right, #181818 20%, #9793bf 50%, #181818 80%);
}
.skill-section-item-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
}
.skill-section-item-wrapper p {
  margin-top: 6px;
  font-size: 1.1rem;
  font-weight: 700;
  color: #e8e7e7;
  opacity: 1;
  transition: opacity 0.4s ease;
}
.skill-section-item-wrapper:hover p {
  opacity: 0;
  visibility: hidden;
}
.skill-section-item-description {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  opacity: 0;
  background-color: rgb(37, 27, 77);
  border-radius: 8px;
  border-bottom: 4px solid #bab6ee;
  padding: 10px;
  width: 330px;
  color: #e8e7e7;
  font-size: 1rem;
  will-change: opacity, transform;
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
  z-index: 1;
}
.skill-section-item-description::before {
  content: '';
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgb(37, 27, 77);
}
.skill-section-item-description h3 {
  margin: 0;
  font-size: 1.6rem;
}
.skill-section-item-description h3 span {
  font-size: 0.9rem;
  font-weight: 500;
  color: #d1c5db;
}
.skill-section-item-description-tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0.5rem;
}
.skill-section-item-description-item-tag {
  background-color: rgba(149, 119, 187, 0.4);
  color: #dfcdfc;
  border-radius: 5px;
  padding: 4px 6px;
  margin: 2px;
  font-size: 0.8rem;
}
.skill-section-item-description-list {
  padding-left: 20px;
  list-style-type: none;
  position: relative;
}
.skill-section-item-description-list li {
  position: relative;
  list-style:none;
  padding-left: 4px;
  padding-bottom: 8px;
  margin-bottom: 10px;
}
.skill-section-item-description-list li::after {
  content: '';
  position: absolute;
  top: 6px;
  left: -16px;
  width: 2px;
  height: calc(100% - 20px);
  border-radius: 1px;
  background-color: #7e8bcc;
}
.skill-section-item-description-list-subtitle {
  text-decoration: underline;
  font-size: 1.1rem;
  font-weight: 600;
}
.skill-section-item-description-list-subcontent {
  font-size: 1rem;
  color: #d1d1d1;
}
.skill-section-item-wrapper:hover .skill-section-item-description {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}
.skill-section-item-wrapper:not(:hover) .skill-section-item-description {
  opacity: 0;
  transform: translateX(-50%) translateY(10px);
}

@media (max-width: 1300px) {
  .intro-section-header p,
  .skill-section-header p {
    font-size: 1rem;
  }
  .intro-section-header h2,
  .skill-section-header h2 {
    font-size: 3rem;
  }
  .intro-section-description {
    padding: 18px 25px;
    font-size: 1.1rem;
  }
}
@media (max-width: 850px) {
  .intro-section-header p,
  .skill-section-header p {
    font-size: 0.9rem;
  }
  .intro-section-header h2,
  .skill-section-header h2 {
    font-size: 2.8rem;
  }
  .intro-section-description {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .intro-section-header p,
  .skill-section-header p {
    font-size: 0.8rem;
  }
  .intro-section-header h2,
  .skill-section-header h2 {
    font-size: 2.5rem;
  }
  .intro-section-description {
    padding: 5px 15px;
    font-size: 0.85rem;
  }
}