@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
  --hero-icon-color: rgb(109, 0, 234);
}
  
body.dark-mode {
  --hero-icon-color: rgb(109, 47, 184);
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* .hero-blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  background: radial-gradient(circle, rgba(81, 26, 137, 0.1) 1%, transparent 100%);
  backdrop-filter: blur(4px);
} */
.hero-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  gap: 0px;
  padding: 0 6%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}
.hero-content {
  position: relative;
  max-width: 55%;
  display: flex;
  z-index: 1;
}
.hero-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.hero-icon-line-gradient {
  width: 12px;
  height: 420px;
  border-radius: 4px;
  background: linear-gradient(180deg, var(--hero-icon-color), transparent);
}
.hero-text {
  margin-left: 1.8rem;
}
.hero-text h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.5rem;
  color: #e0e0e0;
  margin-bottom: 10px;
}
.hero-highlight-text {
  font-weight: 800;
  font-size: 4.8rem;
  color: rgb(99, 14, 148);
}
.hero-text p {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  color: #b9b9b9;
}
.hero-text a {
  padding: 0px 4px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  display: none;
  color: #8d8990;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in;
}
.hero-text a:focus,
.hero-text a:hover { 
    color: #703dc2; 
}
.hero-text a:before {
  content: '';
  background-color: #8d8990;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: width 0.2s ease-in-out;
}
.hero-text a:hover:before {
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ab7aff;
}
.hero-content-secondary {
  border-radius: 8px;
  padding: 100px 100px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 45%;
  font-family: 'Poppins', sans-serif;
  align-self: flex-start;
  z-index: 1;
}
.hero-content-secondary h2 {
  padding-left: 4px;
  font-size: 1.8rem;
  font-weight: 1000;
  text-transform: uppercase;
  color: #e0e0e0;
}
.hero-content-secondary p {
  padding-left: 8px;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #c6c3c3;
}
.hero-content-secondary button {
  margin: 4px 6px;
  padding: 20px 32px;
  border: 2px solid #ababab;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(168, 168, 168);
  border-radius: 2px;
  font-weight: 750;
  font-size: 1.05rem;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.4s linear;
}
.hero-content-secondary button:hover {
  color: #ffffff;
  font-size: 1.1rem
}
.hero-content-secondary button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #5f07ee;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transform: scaleX(0);
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  z-index: -1;
}
.hero-content-secondary button:hover::before {
  transform: scaleX(1);
}
.hero-button-wrapper {
  position: absolute;
  bottom: 75px;
  left: 49%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  padding: 4px 15px;
  border: 3px solid #5a5a5a;
  border-radius: 30px;
  background-color: transparent;
  transition: border-color 0.3s ease;
  z-index: 1;
}
.hero-button-wrapper:hover {
  border-color: #a8a8a8;
}
.hero-animation-control-btn,
.hero-animation-follow-control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.hero-animation-control-btn i,
.hero-animation-follow-control-btn i {
  font-size: 24px;
  color: #747474;
  transition: color 0.3s ease;
}
.hero-animation-control-btn:hover i,
.hero-animation-follow-control-btn:hover i {
  color: #cecece;
  transform: scale(1.15);
  transition: transform 0.2s ease-in-out;
}
.hero-model-progress-bar-wrapper {
  display: flex;
  align-items: center;
  width: 30%;
  position: absolute;
  top: 60%;
  left: 50%;
  background: transparent;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hero-model-progress-bar-container {
  flex-grow: 1;
  height: 6px;
  border-radius: 4px;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
}
.hero-model-progress-bar {
  height: 100%;
  background-color: #8c00ff;
  transition: width 0.2s ease-in-out;
}
.hero-progress-text {
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #ffffff;
}
.hero-model-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@media (max-width: 1150px) {
  .hero-content-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    margin-left: -5%;
    gap: 0px;
  }
  .hero-content {
    margin-right: 30%;
  }
  .hero-icon-line-gradient {
    height: 470px;
  }
  .hero-text a {
    display: inline-block;
  }
  .hero-content-secondary {
    display: none;
  }
}

@media (max-width: 900px) {
  .hero-icon-line-gradient {
    height: 370px;
  }
  .hero-text h1 {
    font-size: 3.6rem;
  }
  .hero-highlight-text {
    font-size: 4rem;
  }
  .hero-text p {
    font-size: 1.5rem;
  }
  .hero-text a {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero-button-wrapper {
    bottom: 140px;
    left: 50%;
  }
}

@media (max-width: 550px) {
  .hero-content-wrapper {
    margin-top: 4%;
  }
  .hero-text {
    margin-top: 0.8rem;
    margin-left: 1.4rem;
  }
  .hero-icon-line-gradient {
    height: 280px;
  }
  .hero-text h1 {
    font-size: 2.4rem;
  }
  .hero-highlight-text {
    font-size: 2.8rem;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .hero-text a {
    font-size: 0.8rem;
  }
  .hero-icon-line-gradient {
    width: 10px;

  }
  .hero-button-wrapper {
    bottom: 120px;
    gap: 12px;
    padding: 8px 16px;
  }
  .hero-animation-control-btn,
  .hero-animation-follow-control-btn {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 375px) {
  .hero-content-wrapper {
    margin-top: 2%;
  }
  .hero-text {
    margin-top: 1.5rem;
  }
  .hero-icon-line-gradient {
    height: 260px;
  }
  .hero-text h1 {
    font-size: 2.1rem;
  }
  .hero-highlight-text {
    font-size: 2.4rem;
  }
  .hero-text p {
    font-size: 0.9rem;
  }
  .hero-text a {
    font-size: 0.75rem;
  }
}