:root {
  --sidebar-wide: 5rem;
  --sidebar-height: 4rem;
  --sidebar-hover-width: 11rem;
  --sidebar-ul-li-a-cursor: pointer;
  --sidebar-ul-li-a-hover-color: rgb(50, 0, 166);
  --sidebar-ul-a-hover-background-color: rgb(210, 210, 210);
}
  
body.dark-mode {
  --sidebar-ul-li-a-hover-color: rgb(131, 3, 199);
  --sidebar-ul-a-hover-background-color: rgb(43, 43, 43);
}

.sidebar {
  z-index: 2;
  background-color: var(--bg-secondary);
  position: fixed;
  left: 0;
  padding-top: 0;
  transition: width 0.25s ease-in-out;
}
.sidebar:hover ul li:first-child {
  transform: rotate(180deg) scale(1.1);
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
.sidebar ul li {
  text-align: center;
  padding: 1.1rem;
  color: var(--text-primary);
}
.sidebar ul a:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--sidebar-ul-a-hover-background-color);
  border-radius: 10px;
}
.sidebar ul a,
.sidebar ul li button svg {
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: filter 0.4s ease, color 0.4s ease;
}
.sidebar ul a:hover,
.sidebar ul li button svg:hover {
  filter: grayscale(0%) opacity(1);
  color: var(--sidebar-ul-li-a-hover-color);
  cursor: var(--sidebar-ul-li-a-cursor);
}
.sidebar ul li button {
  position: relative;
  background: none;
  border: none; 
}
.sidebar ul li button:hover::after {  /* button tooltip */
  content: 'Light / Dark';
  position: absolute;
  bottom: 120%;
  left: 50%;
  
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-text-color);
  padding: 5px 10px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 3;
  opacity: 0;
  pointer-events: none;

  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
  transition: opacity 0.3s, transform 0.3s ease-in-out;
}
.sidebar ul li:first-child {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.35rem;
  transition: transform 250ms;
}
.sidebar-link-text {
  display: none;
}

@media only screen and (min-width: 601px) {
  main {
    margin-left: var(--sidebar-wide);
  }
  footer {
    padding-left: var(--sidebar-wide);
  }

  .sidebar {
    width: var(--sidebar-wide);
    top: var(--menubar-height);
    height: calc(100vh - var(--menubar-height));
  }
  .sidebar:hover {
    width: var(--sidebar-hover-width);
  }
  .sidebar:hover .sidebar-link-text {
    display: inline;
    color: var(--text-primary);
    transition: display 0.3s ease-in-out;
  }
  
  .sidebar ul a,
  .sidebar ul li button svg {
    height: 3rem;
  }
  .sidebar ul li button svg{
    width: 32px;
    height: 48px;
  }
  .sidebar ul li:last-child {
    margin-top: auto;
    margin-right: 0.1rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  main {
    margin-left: 0;
  }
  footer {
    margin-bottom: var(--sidebar-height);
  }

  .sidebar {
    width: 100vw;
    bottom: 0;
    height: var(--sidebar-height);
  }
  .sidebar ul {
    flex-direction: row;
  }
  .sidebar ul a{
    justify-content: center;
  }
  .sidebar ul li:first-child {
    display: none;
  }

  .sidebar ul a,
  .sidebar ul li button svg {
    height: 0rem;
  }
  .sidebar ul li button svg{
    width: 32px;
    height: 32px;
  }
  .sidebar ul li:last-child {
    margin-left: auto;
    margin-bottom: auto;
    padding-TOP: 0.1rem;
  }
}

@media only screen and (max-width: 550px) {
  :root {
    --sidebar-height: 3.3rem;
  }
  .sidebar ul{
    padding: 0;
    margin-top: 0.8rem;
  }
  .sidebar ul li {
    padding: 0.8rem;
  }
  .sidebar ul li button svg{
    width: 28px;
    height: 28px;
  }
  .sidebar ul li:last-child {
    margin-top: auto;
    margin-right: 0.2rem;
    margin-bottom: 10rem;
    padding: 0rem 1rem;
  }
}

@media only screen and (max-width: 440px) {
  :root {
    --sidebar-height: 3.1rem;
  }
  .sidebar ul{
    padding: 0;
    margin-top: 0rem;
  }
  .sidebar ul li {
    margin-top: 1.3rem;
    padding: 0.3rem;
  }
  .sidebar ul li:last-child {
    margin-top: 0.8rem;
  }
}