@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Fira+Code:wght@400;700&family=Inconsolata:wght@400;700&family=Space+Mono:wght@400;700&family=Titillium+Web:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
  --menubar-background-color: #582193;
  --menubar-text-color: #ffffff;
  --menubar-text-color-hovor: #ffbf65;
  --menubar-box-shadow: 0 4px 10px rgba(159, 106, 201, 0.55);
  --menubar-li-cursor: pointer;
  --menubar-dropdown-menu-text-color: #000;
  --menubar-dropdown-menu-hover-background-color: #bbbbbb;

  --sidebar-hover-width: 11rem;
  --sidebar-ul-li-a-cursor: pointer;
  --sidebar-ul-li-a-hover-color: rgb(50, 0, 166);
  --sidebar-ul-a-hover-background-color: rgb(210, 210, 210);

  --hero-icon-color: rgb(109, 0, 234);
  --hero-highlight-text-color: rgb(154, 52, 210);
}
  
  
body.dark-mode {
  --menubar-background-color: #441775;
  --menubar-text-color-hovor: #fdfd3b;
  --menubar-box-shadow: 0 4px 10px rgba(88, 76, 98, 0.467);
  --menubar-dropdown-menu-text-color: #fff;
  --menubar-dropdown-menu-hover-background-color: #5f5f5f;

  --sidebar-ul-li-a-hover-color: rgb(131, 3, 199);
  --sidebar-ul-a-hover-background-color: rgb(43, 43, 43);

  --hero-icon-color: rgb(109, 47, 184);
  --hero-highlight-text-color: rgb(108, 10, 153);
}


.menubar {
  width: 100%;
  height: var(--menubar-height);
  background-color: var(--menubar-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: var(--menubar-box-shadow);
  z-index: 10;
}
.menubar-logo {
  list-style: none;
  display: flex;
  align-items: center;
}
.menubar-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--menubar-text-color);
}
.menubar-logo img {
  width: 2.5rem;
  height: auto;
}
.menubar-logo-text {
  font-size: 1.8rem;
  padding-left: 0.25rem;
  padding-right: 0.5rem;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-weight: 505;
}
.menubar-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex-grow: 1;
  justify-content: flex-end;
}
.menubar-menu a {
  display: flex;
  align-items: center;
  cursor: var(--menubar-li-cursor);
  padding: 1.5rem;
  margin-top: 0.25rem;
  transition: color 0.3s ease;
  text-decoration: none;
  color: var(--menubar-text-color);
}
.menubar-menu a i {
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}
.menubar-menu a:hover {
  color: var(--menubar-text-color-hovor);
}
.menubar-toggle-button {
  color: var(--menubar-text-color);
  margin-right: 2.5rem;
  margin-top: 0.25rem;
  cursor: pointer;
  display: none;
}
.menubar-dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: calc(var(--menubar-height) + 1rem);
  width: 300px;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.1);
  backdrop-filter: blur(15px);
  padding: 0;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menubar-dropdown-menu.open {
  height: 240px;
}
.menubar-dropdown-menu li {
  padding: 0.7rem 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menubar-dropdown-menu a {
  color: var(--menubar-dropdown-menu-text-color);
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 5px;
}
.menubar-dropdown-menu a:hover {
  background: var(--menubar-dropdown-menu-hover-background-color);
}

@media only screen and (max-width: 900px) {
  .menubar-menu li:not(:last-child) a {
    display: none;
  }
  .menubar-toggle-button {
    display: block;
  }
  .menubar-dropdown-menu {
    display: block;
  }
}

@media only screen and (max-width: 550px) {
  .menubar-dropdown-menu {
    left: 2rem;
    width: unset;
  }
}


.sidebar {
  z-index: 2;
  background-color: var(--bg-secondary);
  position: fixed;
  left: 0;
  padding-top: 0;
  transition: width 0.25s ease-in-out;
}
.sidebar:hover ul li:first-child {
  transform: rotate(180deg) scale(1.1);
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
.sidebar ul li {
  text-align: center;
  padding: 1.1rem;
  color: var(--text-primary);
}
.sidebar ul a:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--sidebar-ul-a-hover-background-color);
  border-radius: 10px;
}
.sidebar ul a,
.sidebar ul li button svg {
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: filter 0.4s ease, color 0.4s ease;
}
.sidebar ul a:hover,
.sidebar ul li button svg:hover {
  filter: grayscale(0%) opacity(1);
  color: var(--sidebar-ul-li-a-hover-color);
  cursor: var(--sidebar-ul-li-a-cursor);
}
.sidebar ul li button {
  position: relative;
  background: none;
  border: none; 
}
.sidebar ul li button:hover::after {  /* button tooltip */
  content: 'Light / Dark';
  position: absolute;
  bottom: 120%;
  left: 50%;
  
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-text-color);
  padding: 5px 10px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 3;
  opacity: 0;
  pointer-events: none;

  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
  transition: opacity 0.3s, transform 0.3s ease-in-out;
}
.sidebar ul li:first-child {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.35rem;
  transition: transform 250ms;
}
.sidebar-link-text {
  display: none;
}

@media only screen and (min-width: 601px) {
  main {
    margin-left: var(--sidebar-wide);
  }
  footer {
    padding-left: var(--sidebar-wide);
  }
  .sidebar {
    width: var(--sidebar-wide);
    top: var(--menubar-height);
    height: calc(100vh - var(--menubar-height));
  }
  .sidebar:hover {
    width: var(--sidebar-hover-width);
  }
  .sidebar:hover .sidebar-link-text {
    display: inline;
    color: var(--text-primary);
    transition: display 0.3s ease-in-out;
  }
  
  .sidebar ul a,
  .sidebar ul li button svg {
    height: 3rem;
  }
  .sidebar ul li button svg{
    width: 32px;
    height: 48px;
  }
  .sidebar ul li:last-child {
    margin-top: auto;
    margin-right: 0.1rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  main {
    margin-left: 0;
  }
  footer {
    margin-bottom: var(--sidebar-height);
  }

  .sidebar {
    width: 100vw;
    bottom: 0;
    height: var(--sidebar-height);
  }
  .sidebar ul {
    flex-direction: row;
  }
  .sidebar ul a{
    justify-content: center;
  }
  .sidebar ul li:first-child {
    display: none;
  }

  .sidebar ul a,
  .sidebar ul li button svg {
    height: 0rem;
  }
  .sidebar ul li button svg{
    width: 32px;
    height: 32px;
  }
  .sidebar ul li:last-child {
    margin-left: auto;
    margin-bottom: auto;
    padding-TOP: 0.1rem;
  }
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-content {
  position: absolute;
  top: 80px;
  left: 35%;
  transform: translateX(-50%);
  max-width: min(var(--content-mx-width), 60%);
  display: flex;
  align-items: flex-start;
  gap: 20px;
  z-index: 1;
}
.hero-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.hero-icon-line-gradient {
  width: 12px;
  height: 400px;
  border-radius: 4px;
  background: linear-gradient(180deg, var(--hero-icon-color), transparent);
  margin-top: -4px;
}
.hero-text {
  margin-left: 0.8rem;
}
.hero-text h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  color: #e0e0e0;
}
.hero-highlight-text {
  font-weight: 800;
  font-size: 4rem;
  color: var(--hero-highlight-text-color);
}
.hero-text p {
  margin-top: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #b9b9b9;
}
.hero-model-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@media (max-width: 751px) {
  .hero-icon-line-gradient {
    height: 350px;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
  .hero-highlight-text {
    font-size: 3.7rem;
  }
  .hero-text p {
    font-size: 1.4rem;
  }
}